body {
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
}
.container-fluid
{
  width: 600px;
  text-align: center;

}
input[type="submit"]
{
  color: #0D47A1;
  border-color: #0D47A1;
  border-style: solid;
  height: 50px;
  width: 200px;
  margin: 1.5px;
  margin-right:0px;
  margin-left:0px;
  background-color: #FFF;

}
select
{
  padding-left: 5px;
  border: none;
}

input[type="number"]
{
  width: 43px;
  text-align: left;
  border: none;
  padding-right: 5px;
  margin-bottom: 10px;
}
fieldset
{
  box-shadow:none;
}

nav{
  background-color: #0D47A1;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: .3em;
  padding-bottom: .3em;
  color: white;
  font-size: 1.10em;
}
nav>.user-actions,button
{
  float: right;
  background-color: #0D47A1;
  border: none;
}
nav>p
{
  color:white;
  font-weight: bold;
  width: 50px;
}
input#latitude,input#longitude
{
  width: 200px;
  margin-left: 10px;
}
legend
{
  margin-top:20px;
  margin-bottom: 20px;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px)
{
  .container-fluid{
    text-align: center;
    padding:0em;
  }
  h1{
    margin-top: .1em;
  }
  .container-fluid h2
  {
    font-size: 1em;
    margin-top: 1em;
  }
  input[type="submit"]
  {
    width:80%;
    font-size: 2em;
    padding:.2em;
    background-color: #0D47A1;
    color:white;
    border: none;
    margin:.2em;
  }
  label{
    margin-top:.3em;
    font-weight:unset;
    font-size: 1.3em;
  }
  input[type="text"],input[type="password"]
  {
    width:88%;
    height: 3em;
    margin-left:1%;
  }
  legend
  {
    margin-bottom: .5em;
    border:none;
  }
  select{
    height: 2em;
    width:80%;
  }
  .login
  {
    margin-left: 10%;
  }
  strong{
    font-size:1em;
  }
  div.start_time input
  {
    width:10%;
    padding-left: .3em;
  }
  input#latitude,input#longitude
  {
    padding-left:1em;
  }
  div.login label
  {
    margin-right: 1.5em;
  }
  textarea
  {
    width: 80%;
  }
  .total_time input
  {
    width: 15%;
  }
  .title{
    margin: 0em;
    padding:1.5em;
    font-weight:bold;
    color:white;
  }
.title
  {
    background-image:url("https://images.unsplash.com/photo-1475318681864-ef1966c3cbb7?dpr=1.5&auto=format&fit=crop&w=1500&h=1001&q=80&cs=tinysrgb&crop=");
    background-position:50% 70%;
    background-size: cover;
    margin-bottom: .2em;
  }
}
